body {
  background-image: url(https://external-preview.redd.it/wkEeZ1UT_mlB281e6EPDRPU7cqIm98gzbDblqPQAWYU.jpg?auto=webp&s=ec541f118eb24e3ea1cbc5a9508ce3c292048a89);
}

div {
    text-align: center;
    background-color: brown;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}